/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}


/* Estilos para la barra de navegación */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #f35714;
	color: white;
}
-----------------------------------------------------------

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px 20px;
}
.navbar-right {
    text-align: right;
    flex: 1;
}

/* Alineación al Centro en la Barra de Navegación */
.navbar-center {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
}


/* Estilo para Agregar una Nueva Receta */
.agregar-receta {
    text-align: right;
    margin-top: 20px;
}

.addRecipe {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFA500;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.addRecipe:hover {
    background-color: #78db06;
}
.botonone {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFA500;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botonone:hover {
    background-color: #FF0000;
}
-----------------------------------------------------------
/* Estilos para formularios */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px; /* Agregamos un poco de espacio interno para que los campos respiren */
    background-color: #f9f9f9; /* Agregamos un fondo para destacar el formulario */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregamos una sombra ligera */
}

label,
input,
textarea,
select {
    display: block;
    margin-bottom: 15px; /* Aumentamos un poco el espacio entre los campos */
    width: 100%; /* Los campos ocupan todo el ancho disponible */
    box-sizing: border-box; /* Incluimos los bordes en el ancho total */
}

/* Estilos específicos para los campos de texto */
input[type="text"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Estilos específicos para el botón de submit */
input[type="submit"],
.cancel-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: auto; /* Ajustamos el ancho automáticamente */
    margin-left: auto; /* Centramos el botón */
    margin-right: auto; /* Centramos el botón */
    display: block; /* Convertimos el botón en un bloque para centrarlo */
}

.cancel-btn {
    background-color: #ccc;
}


/* Estilos para el popup */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.popup-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	text-align: center;
}

.popup-overlay.active {
	visibility: visible;
	opacity: 1;
}

footer {
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-media img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: transparent; /* Aplicar fondo transparente a las imágenes */
    border-radius: 50%; /* Opcional: agregar borde circular a las imágenes */
  }
  
  .social-media img:last-child {
    margin-right: 0;
  }